.icon-wrap {
    display: inline-block;
    transition: background-color 0.25s;
    height: 1.5em;
    width: 1.5em;
    padding: 0.25em;
    border-radius: 50%;
  }
  
  .icon-wrap:hover {
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;
  }