.mail-filter{
    flex-grow: 1;
    max-width: 400px;
    padding: 8px 12px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.mail-filter-container h1 {
  text-transform: capitalize;
  margin-top: 10px;
  font-size: 3em;
}