/* mail list */

.icons {
  list-style: none;
  display: flex;
}

.mail-list {
  font-family: roboto, sans-serif;
  list-style: none;
}

.shifted {
  margin-left: 250px;
}

.mail-index {
  margin-left: 200px;
  margin-right: 50px;
  padding: 0px;
  box-sizing: border-box;
  transition: margin-left 0.5s;
  transition: margin-right 0.5s;
  transition: all 0.5s;
}
