.sidebar {
    font-family: roboto, sans-serif;
    width: 0;
    background-color: rgb(246, 248, 252);
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: transform 0.3s, width 0.3s;
    transform: translateX(-200px);
}

.sidebar.open {
    width: 200px;
    transform: translateX(0);
}

.sidebar a {
    padding: 10px 15px;
}

.sidebar svg {
    display: inline-block;
    transition: background-color 0.25s;
    height: 1.5em;
    width: 1.5em;
    padding: 0.25em;
    border-radius: 50%;
}

.sidebar svg:hover {
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;
}

.siderbar-componenets {
    display: grid;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    color: black;
    cursor: pointer;
}
