.note-header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.right-header {
    display: flex;
    align-items: center;
}

.keep-img {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.input-container {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    gap: 2px;
    color: gray;
}

.input-container input {
    border-radius: 10px;
    height: 30px;
    width: 200px;
}

.search-icon {
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
    border-radius: 50%;
    margin-left: 5px;
    border-radius: ;
}

.menu-icon:hover,
.setting-icon:hover,
.search-icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.menu-icon,
.setting-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
}