 /* note list */
 .list-container {
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
    position: absolute;
    left: 29%;
    top: 15%;
    width: 70vw;
}

.list-container input {
    width: 30vw;
    height: 30px;
    border-radius: 10px;
}

.notes {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;

}

.notes h1 {
    font-size: 30px;
}

.notes-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.todo {
    margin: 10px;
    display: flex;
    gap: 10px;
}

.todo li {
    list-style: none;
}

ul {
    padding: 0;
}